/* PC */

@media (min-width: 1024px) {
    
}

/* tablet and mobile*/

@media (max-width: 1023px) {
    .tickets-button {
        padding: 16px;
    }

    .contact-form .form-control {
        padding: 15px;
        font-size: 16px;
    }

    .contact-info {
        line-height: 2;
    }

    .send-btn {
        padding: 15px 16px;
    }

    #footer .socials-list a {
        font-size: 24px;
        padding: 0 8px;
    }

    #footer .w3, #footer .copyright {
        margin-top: 22px;
        font-size: 18px;
        padding: 11px 0;
    }
}

/* tablet*/

@media (min-width: 740px) and (max-width: 1023px) {
    
}


/* mobile */

@media (max-width: 739px) {
    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #header .search-button {
        display: none;
    }

    #nav li a {
        display: block;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav {
        position: initial;
        background: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    } 

    #nav li a {
        padding: 1px 24px;
    }
    
    #slider .text-heading,
    #slider .text-description {
        display: none;
    }

    #content .member-item {
        margin-top: 30px;
        width: 100%;
    }

    #content .member-img  {
        width: 60%;
    }

    #content .mobile-places-item {
        margin-top: 16px;
        width: 100%;
    }

    #content .content-section {
        padding: 64px 16px;
    }

    .contact-info {
        margin-bottom: 32px;
    }

    .mobile-contact-info {
        width: 100%;
    }

    .s-full-width,
    .s-col-full {
        width: 100%;
    }

    .s-mt-8 {
        margin-top: 8px;
    }
}